@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-custom-size {
    font-size: 25px;
  }
}

@layer base {
  :root {
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-color: #004777;
    --secondary-color: #DCF1FD;

    --primary-text-color: #000000;
    --secondary-text-color: #DCF1FD;
    --tertiary-text-color: #004777;
  }
}

.ant-layout-header {
  background-color: var(--primary-color);
}
